@charset "UTF-8";
html {
    font-family: 'Wire One', sans-serif;
}

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot?bp97o0");
    src: url("../fonts/icomoon.eot?bp97o0#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bp97o0") format("truetype"), url("../fonts/icomoon.woff?bp97o0") format("woff"), url("../fonts/icomoon.svg?bp97o0#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
       Introduced in IE 10.
       See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

